

{% extends "template.html" %}
{% block main %}
    <p>A weather forecast application created as part of a database course at Bar Ilan University</p>
    <p>The app was created by Efrat Ayelet and Haya</p>

    <p>&copy Data Base:
        <a class="text-white"
           href="https://www.ncei.noaa.gov/metadata/geoportal/rest/metadata/item/gov.noaa.ncdc:C00861/html">
            Global Historical Climatology Network
        </a> created by <a class="text-white" href="https://www.ncei.noaa.gov/">National Centers for Environment
            Information</a></p>

    <p>&copy Icons made by <a class="text-white" href="https://www.flaticon.com/authors/freepik"
                              title="Freepik">Freepik</a> from <a class="text-white" href="https://www.flaticon.com/"
                                                                  title="Flaticon">www.flaticon.com</a></p>
    <p>&copy Animated Icons made by <a class="text-white"
                                       href="https://www.amcharts.com/free-animated-svg-weather-icons" title="amCharts">amCharts</a>
        from <a class="text-white" href="https://www.amcharts.com/" title="amcharts">www.amcharts.com</a></p>



{% endblock %}